.activado{
    background-color: rgb(73, 188, 255);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
}

.icColor{
    color: white;
}

.center-card{
    margin: 0 30%;
    justify-content: center;
}