<!DOCTYPE html>
<html lang="es">
    <head th:replace="Dashboard/layout/fragmentos :: fCabecera">
        
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="Dashboard/layout/fragmentos :: fNav">
            
        </nav>
        <div id="layoutSidenav">
            <div th:replace="Dashboard/layout/fragmentos :: fMenu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1>Visualización de Citas</h1>

                        <br><br><br>
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa-solid fa-list-ul"></i> Citas registradas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Nro. Cita</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Especialidad</th>
                                                <th>Doctor asignado</th>    
                                                <th>DNI del paciente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="citas : ${listaCitas}">
                                                <td th:text="${citas.NRO_CITA}"></td>
                                                <td th:text="${citas.Fecha}"></td>
                                                <td th:text="${citas.Hora}"></td>
                                                <td th:text="${citas.especialidad_aten.Especialidad}"></td>

                                                <td>
                                                    <p th:text="${citas.doctor.DNI_DOCTOR} ? ${citas.doctor.Nombres+' '+citas.doctor.Apellidos} : 'No asignado'"></p>
                                                </td>

                                                <!-- <td th:if="${citas.doctor.DNI_DOCTOR}" th:text="${citas.doctor.DNI_DOCTOR}"></td> -->
                                                <!-- <td th:if="${citas.doctor.DNI_DOCTOR.size()==0}">N/A</td> -->
<!-- 
                                                <td >
                                                    <span th:if="${citas.doctor.DNI_DOCTOR}" th:text="${citas.doctor.DNI_DOCTOR}"></span>
                                                    <span th:if="${citas.doctor.DNI_DOCTOR.isNull()}">NADA</span>
                                                </td> -->


                                                <td th:text="${citas.paciente.DNI}"></td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-warning asignarDoctor"
                                                    th:data-nrocita = "${citas.NRO_CITA}"
                                                    th:data-fecha = "${citas.Fecha}"
                                                    th:data-hora = "${citas.Hora}"
                                                    th:data-n_espec = "${citas.especialidad_aten.Especialidad}"
                                                    th:data-espec = "${citas.especialidad_aten.ESPEC_ATEN}"
                                                    th:data-dnipa = "${citas.paciente.DNI}"
                                                    th:data-nombres = "${citas.paciente.Nombres}"
                                                    th:data-apellidos = "${citas.paciente.Apellidos}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        <b>Asignar doctor</b>
                                                    </a>
                                                </td>
                                                <!-- <td class="text-center ">
                                                    <a th:href="@{/dashboard/pacientes/delete/}+${paciente.DNI}" class="btn btn-danger" onclick="return confirm('Borrar paciente? Los cambios no se podrán revertir.')">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        <b>Eliminar cita</b>
                                                    </a>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="Dashboard/layout/fragmentos :: fFooter">
                    
                </footer>
            </div>
        </div>

        <div class="modal fade" id="modalAsignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos del paciente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <form th:action="@{/dashboard/citas/asignardoctor}" th:object="${doctor}" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h4>Detalles de la cita</h4>
                                    <label>Número de cita:</label>
                                    <input type="text" name="NRO_CITA" id="txtNroCita" class="form-control" readonly/>
                                    <input type="hidden" name="Fecha" id="txtFecha" class="form-control" readonly/>
                                    <input type="hidden" name="Hora" id="txtHora" class="form-control" readonly/>
                                    <label>Especialidad:</label>
                                    <input type="hidden" name="especialidad_aten.ESPEC_ATEN" id="txtEspec" class="form-control" readonly/>
                                    <input type="text" name="especialidad_aten.Especialidad" id="txtN_espec" class="form-control" readonly/>
                                    <br>
                                    <h4>Detalles del paciente</h4>
                                    <label>DNI del paciente:</label>
                                    <input type="text" name="paciente.DNI" id="txtDNIpa" class="form-control" readonly/>
                                    <label>Nombres del paciente:</label>
                                    <input type="text" id="txtNombresCompletos" class="form-control" readonly/>
                                </div>
                            </div>

                            <br>
                            <h4>Asignar un doctor</h4>
                            <label>Lista de doctores:</label>
                            <select id="listarDoctores" name="doctor.DNI_DOCTOR" class="form-select" aria-label="Default select example">
                                <option th:each="listaDoc : ${listaDoctores}" th:value="${listaDoc.DNI_DOCTOR}" th:text="${listaDoc.Nombres+' '+listaDoc.Apellidos+' - '+listaDoc.especialidad_doc.Especialidad}"></option>
                            </select>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Asignar</button>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>



        <div th:replace="Dashboard/layout/fragmentos :: fLibrerias">
        </div>
        
        <script th:src="@{/js/libreriaCitas.js}"></script>
    </body>
</html>