<!DOCTYPE html>
<html lang="es">
    <head th:replace="Dashboard/layout/fragmentos :: fCabecera">
        
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="Dashboard/layout/fragmentos :: fNav">
            
        </nav>
        <div id="layoutSidenav">
            <div th:replace="Dashboard/layout/fragmentos :: fMenu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 ">
                        <h1>Gestor de doctores</h1>

                        
                        <br><br>
                        
                        <div class="row">   
                            <div class="col-md-3">

                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        
                                        <h4><i class="fa-solid fa-floppy-disk"></i> Registrar Doctor</h4>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/dashboard/doctores/save}" th:object="${doctor}" method="post">
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label>DNI del doctor</label>
                                                    <input th:field="*{DNI_DOCTOR}" type="text" class="form-control" placeholder="Ingrese DNI del doctor" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Nombres del doctor</label>
                                                    <input th:field="*{Nombres}" type="text" class="form-control" placeholder="Ingrese nombres del doctor" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Apellidos del doctor</label>
                                                    <input th:field="*{Apellidos}" type="text" class="form-control" placeholder="Ingrese apellidos del doctor" required/>
                                                </div>
                                                <div class="col-md-12 mb-2">
                                                    <label>Especialidad:</label>
                                                    <select id="listadoEspecialidad" name="especialidad_doc.ESPEC_DOC" class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione</option>
                                                        <option th:each="listaR : ${listadoEspecialidad}" th:value="${listaR.ESPEC_DOC}" th:text="${listaR.Especialidad}"></option>
                                                    </select>

                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 text-center">
                                                        <button type="submit" class="btn btn-success">Registrar Doctor</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center-card">
                            
                        </div>

                        <br><br><br>
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa-solid fa-list-ul"></i> Doctores registrados</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-light">
                                        <thead>
                                            <tr class="text-center">
                                                <th>DNI</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Especialidad</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="doctor : ${listarDoctores}">
                                                <td th:text="${doctor.DNI_DOCTOR}"></td>
                                                <td th:text="${doctor.Nombres}"></td>
                                                <td th:text="${doctor.Apellidos}"></td>
                                                <td th:text="${doctor.especialidad_doc.Especialidad}"></td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-success editarDoctor"
                                                    th:data-dni = "${doctor.DNI_DOCTOR}"
                                                    th:data-nombres = "${doctor.Nombres}"
                                                    th:data-apellidos = "${doctor.Apellidos}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        <b>Editar</b>
                                                    </a>
                                                </td>
                                                <td class="text-center ">
                                                    <a th:href="@{/dashboard/doctores/delete/}+${doctor.DNI_DOCTOR}" class="btn btn-danger" onclick="return confirm('Borrar doctor? Los cambios no se podrán revertir.')">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        <b>Eliminar</b>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        


                    </div>
                </main>
                <footer th:replace="Dashboard/layout/fragmentos :: fFooter">
                    
                </footer>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos del doctor</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <form th:action="@{/dashboard/doctores/save}" th:object="${doctor}" method="post">
                        <div class="modal-body">
                            <h4>Información del doctor</h4>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input type="hidden" name="DNI_DOCTOR" id="txtDNI" />
                                    <label>Nombre del doctor:</label>
                                    <input type="text" name="Nombres" id="txtNombres" class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Apellidos del doctor:</label>
                                    <input type="text" name="Apellidos" id="txtApellidos" class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Especialidad:</label>
                                    
                                    <select id="listadoEspecialidad" name="especialidad_doc.ESPEC_DOC" class="form-select" aria-label="Default select example" required>
                                        <option selected>Seleccione</option>
                                        <option th:each="lista : ${listadoEspecialidad}" th:value="${lista.ESPEC_DOC}" th:text="${lista.Especialidad}"></option>
                                    </select>


                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Guardar cambios</button>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>


        <div th:replace="Dashboard/layout/fragmentos :: fLibrerias">
        </div>
        
        <script th:src="@{/js/libreriaDoctores.js}"></script>
    </body>
</html>