<!DOCTYPE html>
<html lang="es">
    <head th:replace="Dashboard/layout/fragmentos :: fCabecera">
        
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="Dashboard/layout/fragmentos :: fNav">
            
        </nav>
        <div id="layoutSidenav">
            <div th:replace="Dashboard/layout/fragmentos :: fMenu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 ">
                        <h1>Gestor de pacientes</h1>

                        
                        <br><br>

                        <div class="row">  <!-- REGISTRAR Y BUSCAR A LA MISMA ALTURA -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        
                                        <h4><i class="fa-solid fa-floppy-disk"></i> Registrar paciente</h4>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/dashboard/pacientes/save}" th:object="${paciente}" method="post">
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label>DNI del paciente</label>
                                                    <input th:field="*{DNI}" type="text" class="form-control" placeholder="Ingrese DNI del paciente" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Nombres del paciente</label>
                                                    <input th:field="*{Nombres}" type="text" class="form-control" placeholder="Ingrese nombres del paciente" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Apellidos del paciente</label>
                                                    <input th:field="*{Apellidos}" type="text" class="form-control" placeholder="Ingrese apellidos del paciente" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Teléfono del paciente</label>
                                                    <input th:field="*{Telefono}" type="text" class="form-control" placeholder="Ingrese teléfono del paciente" required/>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label>Contraseña</label>
                                                    <input th:field="*{Passw}" type="password" class="form-control" placeholder="Ingrese contraseña" required/>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 text-center">
                                                        <button type="submit" class="btn btn-success">Registrar Paciente</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4><i class="fa-solid fa-magnifying-glass"></i> Buscar pacientes</h2>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/dashboard/pacientes/buscar}" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input name="txtBuscarDNI" type="text" class="form-control" placeholder="Ingrese DNI" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit" id="buttonBuscar" class="btn btn-primary">Buscar</button>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                        <form action="">
                                            <div class="row">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item" id="dniBuscado">
                                                        DNI: <span id="dniEncontrado" th:text="${pacienteBuscado.DNI}"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Nombres: <span th:text="${pacienteBuscado.Nombres}"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Apellidos: <span th:text="${pacienteBuscado.Apellidos}"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Teléfono: <span th:text="${pacienteBuscado.Telefono}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-2">
                                                    <a id="buttonEditar" href="#" class="btn btn-warning editarPacienteBuscado"
                                                    th:data-dnibuscado = "${pacienteBuscado.DNI}"
                                                    th:data-nombrebuscado = "${pacienteBuscado.Nombres}"
                                                    th:data-apellidobuscado = "${pacienteBuscado.Apellidos}"
                                                    th:data-telefonobuscado = "${pacienteBuscado.Telefono}"
                                                    th:data-passwbuscado = "${pacienteBuscado.Passw}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        <b>Editar</b>
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a id="buttonAgendar" class="btn btn-info agendarCitaBuscado"
                                                    th:data-dnibuscado="${pacienteBuscado.DNI}"
                                                    th:data-nombrebuscado="${pacienteBuscado.Nombres}"
                                                    th:data-apellidobuscado="${pacienteBuscado.Apellidos}">
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        <b>Agendar cita</b>
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a id="buttonEliminar" th:href="@{/dashboard/pacientes/delete/}+${pacienteBuscado.DNI}" class="btn btn-danger" onclick="return confirm('Borrar paciente? Los cambios no se podrán revertir.')">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        <b>Eliminar</b>
                                                    </a>
                                                </div>
                                            </div>
                                                
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center-card">
                            
                        </div>

                        <br><br><br>
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa-solid fa-list-ul"></i> Pacientes registrados</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-light">
                                        <thead>
                                            <tr class="text-center">
                                                <th>DNI</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Teléfono</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="paciente : ${listaPacientes}">
                                                <td th:text="${paciente.DNI}"></td>
                                                <td th:text="${paciente.Nombres}"></td>
                                                <td th:text="${paciente.Apellidos}"></td>
                                                <td th:text="${paciente.Telefono}"></td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-warning editarPaciente"
                                                    th:data-dni = "${paciente.DNI}"
                                                    th:data-nombres = "${paciente.Nombres}"
                                                    th:data-apellidos = "${paciente.Apellidos}"
                                                    th:data-telefono = "${paciente.Telefono}"
                                                    th:data-passw = "${paciente.Passw}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        <b>Editar</b>
                                                    </a>
                                                </td>
                                                <td class="text-center ">
                                                    <a th:href="@{/dashboard/pacientes/delete/}+${paciente.DNI}" class="btn btn-danger" onclick="return confirm('Borrar paciente? Los cambios no se podrán revertir.')">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        <b>Eliminar</b>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-info agendarCitaPaciente"
                                                    th:data-dni = "${paciente.DNI}"
                                                    th:data-nombres = "${paciente.Nombres}"
                                                    th:data-apellidos = "${paciente.Apellidos}">
                                                        <i class="fa-solid fa-calendar-days"></i> 
                                                        <b>Agendar cita</b>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        


                    </div>
                </main>
                <footer th:replace="Dashboard/layout/fragmentos :: fFooter">
                    
                </footer>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos del paciente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <form th:action="@{/dashboard/pacientes/save}" th:object="${paciente}" method="post">
                        <div class="modal-body">
                            <h4>Información del paciente</h4>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input type="hidden" name="DNI" id="txtDNI" />
                                    <label>Nombre del paciente</label>
                                    <input type="text" name="Nombres" id="txtNombres" class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Apellidos del paciente</label>
                                    <input type="text" name="Apellidos" id="txtApellidos" class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Teléfono del paciente</label>
                                    <input type="text" name="Telefono" id="txtTelefono" class="form-control" required/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Contraseña</label>
                                    <input type="password" name="Passw" id="txtPassw" class="form-control" required/>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Guardar cambios</button>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

        <!-- MODAL AGENDAR CITA -->
        <div class="modal fade" id="modalAgendarCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agendar cita para el paciente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <form th:action="@{/dashboard/pacientes/registrarcita}" th:object="${citas}" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h4>Datos del paciente</h4>
                                    <label>DNI del paciente:</label>
                                    <input type="text" name="paciente.DNI" id="txtDNICita" class="form-control" readonly/>
                                    <label>Nombres y apellidos:</label>
                                    <input type="text" id="txtNombresCita" class="form-control" readonly/>
                                </div>
                            </div>

                            <div class="row">
                                <br>
                                <h4>Establecer horario de cita</h4>
                                <div class="col-6 mb-3">
                                    <label>Fecha de cita:</label>
                                    <input type="date" name="Fecha" id="txtFecha" class="form-control" required/>
                                </div>
                                <div class="col-6 mb-3">
                                    <label>Hora:</label>
                                    <input type="time" name="Hora" id="txtHora" class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <input type="hidden" name="doctor.DNI_DOCTOR" value="77899492">
                                    <label>Especialidad:</label>
                                    <select id="tablasRelacionadas" name="especialidad_aten.ESPEC_ATEN" class="form-select" aria-label="Default select example">
                                        <option selected>Seleccione</option>
                                        <option th:each="tabla : ${tablasRelacionadas}" th:value="${tabla.ESPEC_ATEN}" th:text="${tabla.Especialidad}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Agendar</button>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

        <div th:replace="Dashboard/layout/fragmentos :: fLibrerias">
        </div>
        
        <script th:src="@{/js/libreriaPacientes.js}"></script>
    </body>
</html>