<!DOCTYPE html>
<html lang="es">
    <head th:replace="Dashboard/layout/fragmentos :: fCabecera">
        
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="Dashboard/layout/fragmentos :: fNav">
            
        </nav>
        <div id="layoutSidenav">
            <div th:replace="Dashboard/layout/fragmentos :: fMenu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1>Visualización de Solicitudes</h1>

                        <br><br><br>
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa-solid fa-list-ul"></i> Solicitudes para citas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-light">
                                        <thead>
                                            <tr class="text-center">
                                                <th>DNI solicitante</th>
                                                <th>Nombres y apellidos</th>
                                                <th>Correo</th>
                                                <th>Teléfono</th>    
                                                <th>Fecha de solicitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="solicitud : ${listaSolicitudes}">
                                                <td th:text="${solicitud.DNI_SOLICITANTE}"></td>
                                                <td th:text="${solicitud.NOMBRE_SOLICITANTE}"></td>
                                                <td th:text="${solicitud.CORREO_SOLICITANTE}"></td>
                                                <td th:text="${solicitud.TELEFONO_SOLICITANTE}"></td>
                                                <td th:text="${solicitud.FECHA_SOLICITUD}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="Dashboard/layout/fragmentos :: fFooter">
                    
                </footer>
            </div>
        </div>

        <div th:replace="Dashboard/layout/fragmentos :: fLibrerias">
        </div>
        
        <script th:src="@{/js/libreriaSolicitudes.js}"></script>
    </body>
</html>